html, body , #app {
    height: 100%;
    margin: 0;
    padding:0;
}

*{
    padding:0;
    margin:0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -box-sizing: border-box;
    list-style: none;
    box-sizing: border-box;
}
div,dl,dt,dd,form,h1,h2,h3,h4,h5,h6,img,ol,ul,li,table,th,td,p,span,a{border:0;padding: 0;}
img,input{border:none;vertical-align:middle;}
body{font-family:"Helvetica Neue", Helvetica, "Microsoft Yahei", "Hiragino Sans GB", "WenQuanYi Micro Hei", "微软雅黑", "华文细黑", STHeiti, sans-serif;;;padding:0;margin:0;text-align:center;color:#fff;font-size:12px;}
html{overflow-y:scroll;}
ul,ol,li{list-style-type:none;}
li{display: inline;}
th,td,input{font-size:12px;}
h3{font-size:14px;}
button{border:none;cursor:pointer;font-size:12px;background-color:transparent;}
select{border-width:1px;_zoom:1;border-style:solid;padding-top:2px;font-size:12px;}
.clear{clear:both;font-size:1px;height:0;visibility:hidden;line-height:0;}
.clearfix:after{content:"";display:block;clear:both;}
.clearfix{zoom:1;}
a:link,a:visited{
    text-decoration:none;
    color:#1f4977;
}
a:hover,a:active{
    text-decoration:underline;
    color:#1f4977;}

    :root {
        --blue: #1f4977;
        --indigo: #490bad;
        --purple: #6f42c1;
        --pink: #a62c64;
        --red: #c6303e;
        --orange: #d57c32;
        --yellow: #f1c84c;
        --green: #177f2e;
        --teal: #19926f;
        --cyan: #117887;
        --white: #fff;
        --gray: #868e96;
        --gray-dark: #343a40;
        --primary: #1f4977;
        --secondary: #868e96;
        --success: #177f2e;
        --info: #117887;
        --warning: #f1c84c;
        --danger: #c6303e;
        --light: #f8f9fa;
        --dark: #343a40;
        --breakpoint-xs: 0;
        --breakpoint-sm: 576px;
        --breakpoint-md: 768px;
        --breakpoint-lg: 992px;
        --breakpoint-xl: 1200px;
        --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
        --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
        --gray-100: #f8f9fa;
        --gray-200: #e9ecef;
        --gray-300: #dee2e6;
        --gray-400: #ced4da;
        --gray-500: #adb5bd;
        --gray-600: #868e96;
        --gray-700: #495057;
        --gray-800: #343a40;
        --gray-900: #212529;
    }